<html>
<head>
    <title >validacion</title>
    <link href="css/1.css" rel="stylesheet" type="text/css"></link>
    
 </head>
<body style="background-color:#5D6D7E;">
    
    <p>
        <h1 style="text-align:center","color:#F4F6F6";>Validacion de firma electronica</h1>

    </p>

    <form action="/validacion/" method="GET">
        <p>
            <h1 style="text-align:left";>Validacion de certificado.CER</h1>
    
        </p>
        <input type="file" name="val">

        <input type="submit" value="Validar cer">
    </form>

    <form action="/validacion/" method="GET">
        <p>
            <h1 style="text-align:left";>Validacion de certificado.KEY</h1>
    
        </p>
        <input type="file" name="val">

        <input type="submit" value="Validar key">
    </form>
    

</body>

</html>
