<html>
<head>
    <title >validacion</title>

 </head>
<body style="background-color:#5D6D7E;">
    
    <p>
        <h1 style="text-align:center","color:#F4F6F6";>Validacion de firma electronica</h1>

    </p>

    <form action="/validacion/" method="POST">
        <p>
            <h1 style="text-align:left";>Validacion del certificado.CER</h1>
    
        </p>
        <input type="file" name="val1">
 
    </form>
    <form action="/validacion/" method="POST">
        <p>
            <h1 style="text-align:left";>Validacion del certificado.KEY</h1>
    
        </p>
        <input type="file" name="val2">

        <input type="submit" value="validar archivos">
    </form>    

</body>

</html>
